<?xml version="1.0" encoding="UTF-8"?>
<plugin id="SequenceCreationExample" name="Sequence Creation Example" version="2026x" provider-name="No Magic" class="com.nomagic.magicdraw.examples.sequencecreation.SequenceCreationPlugin">
  <requires>
    <api version="1.0"/>
  </requires>
  <runtime>
    <library name="sequencecreation-2026.0.0-57-a2cdbb58.jar"/>
  </runtime>
</plugin>