<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.nomagic.magicdraw.examples.extractrefactor" name="Extract Refactor Example Plugin" version="2026x" provider-name="No Magic" class="com.nomagic.magicdraw.examples.extractrefactor.ExtractRefactorExamplePlugin">
  <requires>
    <api version="1.0"/>
  </requires>
  <runtime>
    <library name="extractrefactor-2026.0.0-57-a2cdbb58.jar"/>
  </runtime>
</plugin>