<?xml version="1.0" encoding="UTF-8"?>
<plugin
        id="magicgptplugin"
        name="MagicGPTPlugin"
        version="1.0"
        provider-name="No Magic"
        class="magicgptplugin.MagicGPTPlugin">

    <requires>
        <api version="1.2"/>
    </requires>

    <runtime>
        <library name="lib/MagicGPTPlugin.jar"/>
        <library name="lib/pdfbox-2.0.30.jar"/>
        <library name="lib/fontbox-2.0.30.jar"/>
        <library name="lib/commons-logging-1.2.jar"/>
    </runtime>
</plugin>
